<h1>The Recipe is A Story That Ends With A Good Meal</h1>

<ul>
  {% for recipe in recipes %}
  <li>
    <strong><a href="/recipes/{{recipe.id}}">{{recipe.title}}</a></strong> -
    Written by
    <a href="/author/{{recipe.author.id}}/">{{recipe.author.name}}</a>
    <!-- <ul>
      <li>{{recipe.description}}</li>
    </ul> -->
  </li>
  {% endfor %}
  <!-- <p>Add a new recipe <a href="addauthor/"></a></p> -->
  <br />
  <ul></ul>
  <li>
    <p>Add a new Author: <a href="{% url 'add_author' %}">Add Author</a></p>
    
  </li>
  <li>
    <p>Add a new Recipe: <a href="{% url 'add_recipe' %}">Add Recipe</a></p>
  </li>
  </ul>

</li>
</ul>
